[Desktop Entry]
Version=1.0
Name=Google Chrome
Name[zh_CN]=谷歌浏览器
Name[zh_TW]=Google Chrome
Comment=Access the Internet
Comment[zh_CN]=访问互联网
Comment[zh_TW]=瀏覽網際網路
GenericName=Web Browser
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Keywords=Internet;WWW;Browser;Web;Google;Chrome;
Exec=/usr/local/bin/start-chrome.sh %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=google-chrome
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[zh_CN]=新建窗口
Name[zh_TW]=開新視窗
Exec=/usr/local/bin/start-chrome.sh

[Desktop Action new-private-window]
Name=New Incognito Window
Name[zh_CN]=新建隐身窗口
Name[zh_TW]=新增無痕式視窗
Exec=/usr/local/bin/start-chrome.sh --incognito

